#                This file is {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for group in groups %}
{% if groups[group] and group != 'all' %}
{% for host in groups[group] %}
{{ hostvars[host].ip4_private }}    {{ hostvars[host].inventory_hostname_short }}
{% endfor %}
{% endif %}
{% endfor %}